body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.slideshow-content {
    background-color: cadetblue;
    border-radius: 25px;
    padding: 35px 25px;
    max-width: 700px;
    display: none;
}

.slideshow-content.active {
    display: block;
}

.progress-bar {
    background-color: #fff;
    height: 5px;
    width: 100%;
    animation: barextend 6s linear infinite;
    transform-origin: left;
}

@keyframes barextend {
    0% {
        transform: scaleX(0);
    }
}



.content-top {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.content-top img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-right: 15px;
}

.content-top .name {
    font-size: 20px;
    color: #fff;
}

.content-bottom {
    display: flex;
    align-items: flex-start;
    margin-top: 15px;
}

.content-bottom i {
    font-size: 25px;
    color: #fff;
}

.content-bottom .comment {
    margin: 0 10px;
    font-size: 18px;
    color: #fff;
}

@media (max-width: 800px) {
    .slideshow-content {
        margin: 10px;
    }
}