body {
    font-family: serif;
    margin: 0;
}

nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #16a085;
}

.main-title {
    font-size: 28px;
    color: #fff;
    font-weight: bold;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    margin: 0 20px;
}

.header-container {
    background: url("https://solepro-concept-marketing.com/img/7.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: -1;
}

.header-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
}

.header-maintext {
    z-index: 1;
    font-size: 30px;
    color: #16a085;
}

.header-subtext {
    z-index: 1;
    font-size: 18px;
    color: grey;
}

.content-container {
    width: 60%;
    margin: 50px auto 50px;
    transition: 1.5s ease-in-out;
    transform: translateY(100px);
    opacity: 0;
}

.content-container.active {
    transform: translateY(0);
    opacity: 1;
}

.content-container .content-title {
    font-size: 20px;
    color: #16a085;
    margin-bottom: 10px;
}

.content-container img {
    max-width: 450px;
    width: 100%;
}

.content-container .content-text {
    font-size: 16px;
    color: grey;
}

.scroll-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: #16a085;
    padding: 15px;
    transition: 1s ease-in-out;
}

.scroll-container.no-show {
    transform: translateY(140px);
}

.scroll-content {
    width: 280px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: auto;
    border: 1px solid lightgrey;
}

.scroll-content i {
    font-size: 20px;
    color: #16a085;
}

.scroll-content:hover i {
    color: grey;
}

.scroll-text {
    color: #16a085;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}

.scroll-content:hover .scroll-text {
    color: grey;
}

@media (max-width: 700px) {
    nav {
        padding: 10px 15px;
    }

    nav ul {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }

    nav ul li a {
        margin: 0;
    }

    .content-container {
        width: 90%;
    }
}